<div class="code-panel">
  <div class="panel-header">
    <div class="panel-title">
      <div class="title-icon"><mat-icon>code</mat-icon></div>
      <div class="title-text">
        <span class="title-main">Generated Code</span>
        <span class="title-sub">Angular component output</span>
      </div>
    </div>
    @if (code) {
      <button mat-stroked-button class="download-all-btn" (click)="downloadAll()" matTooltip="Download all files">
        <mat-icon>download</mat-icon>
        Download All
      </button>
    }
  </div>

  @if (!code) {
    <div class="code-placeholder">
      <div class="empty-icon-wrap">
        <mat-icon class="empty-icon">data_object</mat-icon>
      </div>
      <p class="empty-title">No code yet</p>
      <p class="empty-desc">Generate a wireframe first, then produce its Angular code</p>
    </div>
  } @else {
    <mat-tab-group class="code-tabs" animationDuration="150ms">

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">html</mat-icon>
          component.html
        </ng-template>
        <div class="editor-wrapper">
          <div class="editor-actions">
            <button mat-icon-button matTooltip="Format" [disabled]="formatting"
              (click)="formatTab('angular', 'html')">
              <mat-icon>auto_fix_high</mat-icon>
            </button>
            <button mat-icon-button
              [matTooltip]="copiedTab === 'html' ? 'Copied!' : 'Copy'"
              (click)="copy(htmlValue, 'html')">
              <mat-icon>{{ copiedTab === 'html' ? 'check' : 'content_copy' }}</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Download" (click)="download(htmlValue, 'component.html')">
              <mat-icon>download</mat-icon>
            </button>
          </div>
          <app-code-editor
            [value]="htmlValue"
            language="html"
            [isDark]="isDark"
            (valueChange)="htmlValue = $event">
          </app-code-editor>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">javascript</mat-icon>
          component.ts
        </ng-template>
        <div class="editor-wrapper">
          <div class="editor-actions">
            <button mat-icon-button matTooltip="Format" [disabled]="formatting"
              (click)="formatTab('typescript', 'ts')">
              <mat-icon>auto_fix_high</mat-icon>
            </button>
            <button mat-icon-button
              [matTooltip]="copiedTab === 'ts' ? 'Copied!' : 'Copy'"
              (click)="copy(tsValue, 'ts')">
              <mat-icon>{{ copiedTab === 'ts' ? 'check' : 'content_copy' }}</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Download" (click)="download(tsValue, 'component.ts')">
              <mat-icon>download</mat-icon>
            </button>
          </div>
          <app-code-editor
            [value]="tsValue"
            language="typescript"
            [isDark]="isDark"
            (valueChange)="tsValue = $event">
          </app-code-editor>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">style</mat-icon>
          component.scss
        </ng-template>
        <div class="editor-wrapper">
          <div class="editor-actions">
            <button mat-icon-button matTooltip="Format" [disabled]="formatting"
              (click)="formatTab('scss', 'scss')">
              <mat-icon>auto_fix_high</mat-icon>
            </button>
            <button mat-icon-button
              [matTooltip]="copiedTab === 'scss' ? 'Copied!' : 'Copy'"
              (click)="copy(scssValue, 'scss')">
              <mat-icon>{{ copiedTab === 'scss' ? 'check' : 'content_copy' }}</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Download" (click)="download(scssValue, 'component.scss')">
              <mat-icon>download</mat-icon>
            </button>
          </div>
          <app-code-editor
            [value]="scssValue"
            language="scss"
            [isDark]="isDark"
            (valueChange)="scssValue = $event">
          </app-code-editor>
        </div>
      </mat-tab>

    </mat-tab-group>
  }
</div>
